.about{

        position: relative;;
        transition: 1s ease-in-out;
        height: 100vh;

        display: flex;

        justify-content: space-evenly;
        align-items: center;

    .navigation{
        position: absolute;
        top: 0px;
    }

        p{
            max-width: 70%;
        }

        .img{
                font-size: 50px;
                left: 10%;
                position: absolute;
                z-index: -2;
        }

        .cv{
               position: absolute;
                right: 8%;
                color: rgba($color: white, $alpha: 0.7);
                h2{
                    padding: 5px;
                    margin: 10px 0px 10px 0px;
                    font-size: 20px;
                    span{
                        color: $text-color;
                        margin-right: 20px;
                        font-size: 25px;
                    }

                }
                h3{
                    color: $text-color;
                    margin-top: 20px;
                    font-size: 25px;
                    span{
                      color: $primary-color;    
                    }
                }
                .button1{
                    margin-left: 0px;
                    margin-top: 20px;
                }
                
        }

      
}