.blogs{
    margin: 10px 15% 40px 10%;
    margin-left: 15%;
    margin-right: 15%;
    transition: 1s ease-in-out;
    text-align: center;
    p{
         color: rgba($color: gray, $alpha: 1.0);
        }
   .bloc{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         height: 70vh;
         gap: 10px;
         text-align: start;

          .blog{
            h3{
                padding: 0px 10px;
                text-transform: uppercase;
                color: $primary-color;
                font-size: 15px;
            }
            h2{
                padding: 0px 10px;
                font-size: large;
                cursor: pointer;
                &:hover{
                    font-size: 20px;
                    color: $primary-color;
                }
            }
            p{
                 padding: 0px 10px;
                font-size: 12px;
               
            }
        img{
            width: 100%;
            height: 30vh;
          }
    }

    }
  

}