.resume{

    position: relative;
    text-align: center;
    align-items: center;
    margin: 10px 15% 40px 10%;
    transition: 1s ease-in-out;
    margin-left: 15%;
    margin-right: 15%;


    .top{
        padding: 2px;
        color: rgba($color: gray, $alpha: 1.0);
    }

.block{
    display: flex;
    columns: 2;
    flex-flow: wrap;

}

    .bloc-resume{
        text-align: start;
        column-span: 1;
        width: 45%;
        margin: 20px;
        padding: 20px;
        background-color: rgba($color: gray, $alpha: 0.1);
        span{
            padding: 10px;
            font-size: 30px;
            font-weight: 900;
        }

        h1{
            padding: 15px 10px;
            line-height: 30px;
            font-size: 25px;
            font-weight: 400;
        }
        h2{
            padding: 5px 10px 20px 10px;
            color: rgba($color: gray, $alpha: 1.0);
            font-size: 18px;

        }
        p{
             padding: 10px 10px 20px 10px;
            color: rgba($color: white, $alpha: 0.8);
            font-size: 18px;
            line-height: 20px;
        }

    }

}